---
interface Props {
  tabs: { id: string; label: string; icon: string }[];
  activeId: string;
}
const { tabs, activeId } = Astro.props;
---
<div class="tabs__nav" role="tablist">
  {tabs.map((tab) => (
    <button
      class:list={['tabs__tab', { 'is-active': tab.id === activeId }]}
      type="button"
      role="tab"
      aria-selected={tab.id === activeId}
      data-tab-target={tab.id}
    >
      <i data-lucide={tab.icon}></i> {tab.label}
    </button>
  ))}
</div>
